@use "vars" as *;
@use "mixins" as *;

figure {
    margin: 0 auto;
    // position: relative;

    img {
    max-width: 100%;
    // height: 15rem;
    margin: 0 auto;
    }

    figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00000076;
        color: #fff;
    }
}